{{ define "main" }}

<div class="articleContainer">
    <header class="hArticle--header">
        <h2 class="hArticle--headline">{{ .Title }}</h2>
        {{ if .Params.description }}
        <div class="hArticle--subline">
            {{ .Params.description }}
        </div>
        {{end}}
    </header>
    {{ if .IsTranslated }}
    <div class="translatedCard">
        <h4>{{ i18n "translations" }}</h4>
        <ul>
            {{ range .Translations }}
            <li>
                <a href="{{ .Permalink }}">{{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end
                    }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
    <div class="hGraph hArticle--body">
        {{ .Content }}
    </div>
</div>

{{ end }}