.footer--map {
    height: 550px;
}

.mapboxgl-ctrl-attrib-inner {
    display: none;
}

.mapboxgl-ctrl-bottom-left {
    display: none;
}

.map--container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.page--header {
    padding: 20px 0;
    text-align: center;
}
