.post--single {
    max-width: 678px;
    margin-left: auto;
    margin-right: auto;

    &__douban {
        .db--nav {
            padding-top: 10px;
        }
        .db--list {
            .db--item {
                margin-right: 12px;
            }
        }
        .post--single__title {
            // text-align: center;
        }
    }

    &__title {
        font-size: 32px;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    &__meta {
        font-size: 14px;
        color: var(--hera-text-gray);
    }

    &__copyright {
        color: var(--hera-text-gray);
    }

    // &__action {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     padding: 20px 0;
    //     .button--like {
    //         svg {
    //             fill: var(--hera-text-gray);
    //         }
    //         &:hover,
    //         &.is-active {
    //             svg {
    //                 fill: var(--hera-hover-color);
    //             }
    //         }
    //     }
    // }

    &__related {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding-bottom: 20px;
        &__status {
            font-size: 14px;
            background-color: var(--hera-background-gray);
            border-radius: 5px;
            padding: 12px;
            &:hover {
                background-color: #fafafa;
            }
            a {
                color: var(--hera-text-gray);
                p {
                    line-height: 1.6;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .meta {
                font-size: 12px;
                display: flex;
                align-items: center;
                margin-top: 2px;
                svg {
                    fill: var(--hera-text-gray);
                    margin-right: 5px;
                }
            }
        }

        &__item {
            background-color: #f2f2f2;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            .cover {
                border-radius: 10px 10px 0 0;
                aspect-ratio: 2/1;
                object-fit: cover;
                width: 100%;
            }
            &__title {
                font-size: 14px;
                font-weight: bold;
                line-height: 1.4;
                margin-bottom: 5px;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 8px;
            }
            &:hover {
                background-color: #fafafa;
            }
            .meta {
                font-size: 12px;
                color: var(--hera-text-gray);
                line-height: 1;
                padding: 0 10px 10px;
            }
        }
    }
}

.page--single {
    padding-top: 30px;
}
