.template--terms {
    padding: 50px 80px;
    min-height: 60vh;

    @media screen and (max-width: 920px) {
        padding: 50px 20px;
    }

    .page--header {
        padding: 0px 0 40px;
        text-align: center;
    }
}

.tagCard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    padding-top: 20px;

    @media (max-width: 920px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 480px) {
        grid-template-columns: repeat(2, 1fr);
    }

    &--item {
        transition: 0.5s;
        padding: 8px 15px;
        border: 1px solid var(--hera-border-color);
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        color: var(--hera-text-gray);

        &:hover {
            .collectionCard--title {
                color: var(--hera-hover-color);
                text-decoration: underline;
            }

            color: var(--hera-hover-color);
        }

        &::after {
            position: absolute;
            content: attr(data-count);
            opacity: 0.15;
            bottom: -8px;
            right: -2px;
            color: var(--hera-text-gray-lightest);
            font-size: 40px;
            font-style: italic;
            font-weight: bold;
            line-height: 1;
        }
    }
}

.collectionCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding-top: 20px;

    @media (max-width: 920px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
        grid-template-columns: repeat(1, 1fr);
    }

    &--icon {
        margin-top: 10px;
    }

    &--item {
        transition: 0.5s;
        padding: 0 0 10px;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        background-color: var(--hera-background-gray);

        &:hover {
            .collectionCard--title {
                color: var(--hera-hover-color);
                text-decoration: underline;
            }
        }

        &::after {
            position: absolute;
            content: attr(data-count);
            opacity: 0.15;
            bottom: -8px;
            right: -5px;
            color: var(--hera-text-gray-lightest);
            font-size: 60px;
            font-style: italic;
            font-weight: bold;
            line-height: 1;
        }
    }

    &--image {
        height: 100px;
        width: 100%;
        object-fit: cover;
        border-radius: 3px 3px 0 0;
    }

    &--meta {
        padding: 2px 10px 0;
    }

    &--title {
        font-weight: 500;
        line-height: 1;
        margin-bottom: 5px;
    }

    &--description {
        font-size: 12px;
        color: var(--hera-text-gray);
        line-height: 1.4;
        height: 2.8em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &--count {
        font-size: 12px;
        color: var(--hera-text-gray);
    }
}

.hTerm {
    &--container {
        max-width: var(--hera-column-width);
        margin: 0 auto;
        width: 92%;
    }

    &--header {
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;

        .author--avatar {
            width: 72px;
            height: 72px;
            margin-right: 15px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        .author--bio {
            h3 {
                font-size: 24px;
                font-weight: bold;
                line-height: 1;
                margin-bottom: 8px;
            }

            p {
                font-size: 16px;
                color: var(--hera-text-gray);
                line-height: 1.3;
            }
        }
    }

    &--content {
        flex: 1 1 auto;
    }

    &--title {
        font-size: 24px;
        font-weight: bold;
        line-height: 1;
        margin-bottom: 8px;
    }

    &--description {
        font-size: 16px;
        color: var(--hera-text-gray);
        line-height: 1.3;
    }

    &--image {
        height: 72px;
        width: 72px;
        object-fit: cover;
        border-radius: 4px;
        margin-right: 15px;
    }
}

@media (max-width: 768px) {
    .term {
        &--title {
            font-size: 18px;
        }

        &--description {
            font-size: 12px;
            line-height: 1.5;
        }

        &--image {
            height: 48px;
            width: 48px;
        }

        &--header {
            padding-bottom: 15px;

            & + .block--list {
                padding-top: 5px;
            }

            .author--avatar {
                width: 48px;
                height: 48px;
                margin-right: 8px;
            }

            .author--bio {
                h3 {
                    font-size: 18px;
                    margin-bottom: 3px;
                }

                p {
                    font-size: 12px;
                }
            }
        }
    }
}

.archive--tagList {
    display: flex;
    flex-wrap: wrap;
}

.archive--tagItem {
    margin: 10px;
    background-color: var(--hera-background-gray);
    padding: 3px 12px;
    border-radius: 4px;
    font-size: 14px;
    color: var(--hera-text-gray-light);

    span {
        margin-left: 3px;
    }
}
