.site--footer {
    text-align: center;
    font-size: 14px;
    color: rgba($color: #000000, $alpha: 0.6);
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav--footer {
    font-size: 12px;
    display: flex;
    align-items: center;
    img {
        margin-left: 5px;
        width: 24px;
    }
    color: rgba(0, 0, 0, 0.5);
}

.fixed--theme {
    position: fixed;
    right: 10px;
    top: 40%;
    display: flex;
    flex-direction: column;
    height: max-content;
    box-shadow: 0 0 0 1px var(--farallon-border-color);
    background-color: var(--farallon-background-white);
    border-radius: 999rem;
    width: max-content;
    padding: 3px;
    span {
        width: 32px;
        height: 32px;
        cursor: pointer;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            //fill: rgba(0, 0, 0, 0.67);
        }
        color: var(--farallon-text-gray-lightest);

        &:hover {
            color: var(--farallon-text-color);
            svg {
                // fill: rgba(0, 0, 0, 0.87);
            }
        }

        &.is-active {
            color: var(--farallon-text-color);
            background-color: var(--farallon-background-gray);
        }

        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@keyframes toTop {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}
.backToTop {
    .svgIcon {
        width: 17px;
        height: 17px;
        fill: var(--farallon-main-color);
        animation: toTop 1s ease-in infinite alternate;
    }
    &:hover {
        .svgIcon {
            fill: var(--farallon-hover-color);
            animation-play-state: paused;
        }
    }
    position: fixed;
    bottom: 25px;
    right: -25px;
    cursor: pointer;
    &.is-active {
        right: 25px;
    }
    background-color: var(--border-color);
    z-index: 10;
    transition: all 0.3s ease;
}
