<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default " en" }}" prefix="og: http://ogp.me/ns#">

<head>
    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "head.html" . }}
</head>

<body>
    <script>
        window.DEFAULT_THEME = "{{ .Site.Params.defaultTheme }}";
        if (localStorage.getItem("theme") == null) {
            localStorage.setItem("theme", window.DEFAULT_THEME);
        }
        if (localStorage.getItem("theme") == "dark") {
            document.querySelector("body").classList.add("dark");
        }
        if (localStorage.getItem("theme") == "auto") {
            document.querySelector("body").classList.add("auto");
        }

    </script>
    <main class="layout">
        <div class="navbar">
            <div class="js-contentFixed">
                <div class="site--info">
                    <a href="/"><img src="https://c.wpista.com/avatar/5ba655c9abcbd5f81a3ce0d1a88dc568?s=200&d=mm&r=x"
                            alt="bigfa" class="avatar"></a>
                    <div class="site--info__content">
                        <h1 class="site--title">{{ $.Site.Title }}</h1>
                        <div class="site--description"></div>
                    </div>
                </div>
                {{ partial "navigation.html" . }}
                <div class="site--footer__sns">
                    {{ partial "sns.html" . }}
                </div>
            </div>
        </div>
        <div class="content">
            {{ block "main" . }}{{ end }}
            {{ partial "footer.html" . }}
        </div>
    </main>
</body>

</html>