<article class="hBlock--item" data-id="{{ .File.UniqueID}}" itemtype="http://schema.org/Article" itemscope="itemscope">
    <h2 class="hBlock--title">
        <a href="{{ .Permalink }}" title="{{ .Title }}">
            {{ .Title }}
        </a>
    </h2>
    <div class="hBlock--addon">
        <div class="hBlock--content">
            <div class="hBlock--snippet">
                {{ .Summary | plainify | truncate 80 }}
            </div>
            <div class="hBlock--meta">
                {{ partial "time.html" . }}
                {{ if .Params.categories }}
                <span class="sep"></span>
                {{ range (.GetTerms "categories") }}
                <a href="{{ .RelPermalink }}" title="{{ .LinkTitle }}">{{ .LinkTitle }}</a>
                {{ end }}
                {{ end }}
                {{ if .Site.Params.post_view }}
                <span class="sep"></span>
                <span class="article--views"></span>
                {{ end }}
                <span class="sep"></span>
                {{ T "article.readingTime" .ReadingTime }}
            </div>
        </div>
        {{ if .Content }}
        {{ $urls := findRE "<img src=\"[^\"|\\\"]*\"" .Content }} {{ if $urls }} {{ $url :=index ($urls) 0 }} {{ $url
            :=(strings.TrimPrefix "<img src=\"" $url) }}
    {{ $url := strings.TrimRight " \"" $url }} <a href="{{ .Permalink }}" class="hBlock--cover"
            title="{{ .Title }}"><img src="{{ $url }}" class="hBlock--coverImage" alt="{{ .Title }}" /></a> {{
        end }} {{ end }}
    </div>
</article>