{{ $related := .Site.RegularPages.Related . | first 4 }}
{{ with $related }}
<div class="hRelated--area">
    <h3 class="hRelated--heroTitle">{{ i18n "article.relatedContent" }}</h3>
    <div class="hRelated--list">
        {{ range . }}
        <div class="hRelated--item">
            <a class="hRelated--image" href="{{ .RelPermalink }}" aria-label="{{ .Title }}">
                {{ if .Content }}
                {{ $urls := findRE "<img src=\"[^\"|\\\"]*\"" .Content }} {{ if $urls }} {{ $url :=index ($urls) 0 }} {{
                    $url :=(strings.TrimPrefix "<img src=\"" $url) }}
    {{ $url := strings.TrimRight " \"" $url }} <img src="{{ $url }}" class="cover" />
                {{ else }}
                <img src="{{ .Site.Params.defaultCover }}" class="cover" />
                {{ end }}
                {{ end }}
            </a>
            <div class="hRelated--title">
                <a href="{{ .RelPermalink }}" aria-label="{{ .Title }}">{{ .Title }} </a>
            </div>
            <div class="hRelated--meta">
                <time datetime='{{.Date.Format "2006-01-02 15:04:01" }}' class="humane--time">{{ .Date
                    | time.Format
                    ":date_long"
                    }}</time>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}